.contenedor{
 
    padding-top: 100px;
    padding-left: 50px;

}

.tablaclientes{
    padding-top: 50px; 
    padding-right: 30px;

}

.tablaclientes td i{
    color:gold;
    margin-left: 10px;
    margin-right: 10px;
}