.contenedor_ventas{
  margin-left: 50px;
    padding-top: 100px;
    padding-left: 70px;
}

.cabezera_consulta{
	
	
	margin-bottom: 50px;
}
.contIzq{
	float:left;
	
}
.contDer{
	margin-right:50px ;
	margin-left: 80%;
}
.fecha{
	color:black;
	position: relative;
	
	
}
.tablaclientes{
    padding-top: 50px; 
    padding-right: 30px;


}

.tablaclientes td i{
    color:gold;
    margin-left: 10px;
    margin-right: 10px;
}


.overlay{
        background: rgba(0,0,0,.3);
        position: fixed;
        top:0;
        bottom:0;
        left: 0;
        right:0;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    
    }
    .overlay.active{
        visibility: visible;
    }
    .popup{
        background: #ffffff;
        box-shadow:  0px, 0px, 0px, 0px rgba(0,0,0,0);
        font-family: Arial, Helvetica, sans-serif;
        padding: 20px;
        text-align: center;
        width: 400px;
        opacity: 0;
        transition: .3s ease all;
        transform: scale(0.7);
    }
    .popup.active{
        opacity: 1;
        transform: scale(1);
        }
		.boton-cerrar{
			float: inline-end;
		}
		.agregarElemento{
			border-radius: 100%;
			color:rgb(221, 218, 33);
			background-color: transparent;
			border-color: transparent;
		}

