.contenedor_ventas{
 margin-left: 200px;
    padding-top: 100px;
    padding-left: 100px;
}

.cabezera_consulta{
	
	margin-bottom: 50px;
}
.contIzq{
	float:left;
	
}
.contDer{
	margin-right:50px ;
	margin-left: 80%;
}
.fecha{
	color:black;
	position: relative;
	
	
}
.tablaclientes{
    padding-top: 50px; 
    padding-right: 30px;
}

.tablaclientes td i{
    color:gold;
    margin-left: 10px;
    margin-right: 10px;
}

		.boton-cerrar{
			float: inline-end;
		}
		.agregarElemento{
			border-radius: 100%;
			color:rgb(221, 218, 33);
			background-color: transparent;
			border-color: transparent;
		}

